*{
    margin:0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color:blueviolet;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score_board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
    margin-bottom: 2rem;
    #uscore , #cscore{
        font-size: 4rem;
    }
}
#msg{
    background-color: rgba(113, 4, 4, 0.634);
    color: rgb(239, 246, 247);
    display : inline;
    font-size: 2rem;
    border-radius: .5rem;
}